page-deposit-transaction {
    
    .select-list{
        
        
        width: 100% !important;
        max-width: 100% !important;
        
       
        text-align: left;
    }
    .alert-md{
        .alert-sub-title {
            font-size: 3px !important;
        }
        .alert-message {
            max-height: 2px !important;
        }
    }
}
 


