page-deposit-transaction {
    
    .select-list{
        max-width: 100% !important
    }
    .alert-md{
        .alert-sub-title {
            font-size: 3px !important;
        }
        .alert-message {
            max-height: 2px !important;
        }
    }
}
 


